* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
#menu-bar {
    font-size: 1rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: #4070f4;
    z-index: 1000;
}
header .logo{
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}
header .logo span{
    color: black;
}
header .navbar a{
    color: #fff;
    font-size: 1.5rem;
    margin: .8rem;
}
header .navbar a:hover{
    color: red;
}
header .icons i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color: greenyellow;
}

/* #menubar{
    color: #a0dc1e;
    border: .1rem solid #a0dc1e;
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
} */

#menu-bar {
    color: var(--puerto-rico);
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}


/* navbar styling */
/* nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
    background-color:lightblue;

} */
/* .navbar{
    display: flex;
} */
/* 
nav.sticky {
    background: pink;
    padding: 13px 0;
} */

 /* .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    /* background-color: #4070f4; */
    /* font-weight: 800; */
/* }  */

/* nav .navbar .logo a {
    font-weight: 500;
    font-size: 35px;
    color: palevioletred;
}

.menu{
    padding: 10px 60px;
    margin: 0px 20px;
    gap: 30px;
}
.menu{
    font-size: 22px;
    padding: 10px 60px;
    margin: 0px 20px;
    gap: 30px;
}  */
/* nav.sticky .navbar .logo a {
    color: #fff;
} */

/* nav .navbar .menu {
    width: 60%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

nav .navbar .menu li {
    list-style: none;
    margin: 0 8px;
}

.navbar .menu a {
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 6px 0;
    transition: all 0.4s ease;
}

.navbar .menu a:hover {
    color: salmon;
} */

/* nav.sticky .menu a {
    color: #FFF;
} */

/* nav.sticky .menu a:hover {
    color: #0E2431;
} */

/* .navbar .media-icons a {
    color: orangered;
    font-size: 18px;
    margin: 0 6px;
} */

/* nav.sticky .media-icons a {
    color: #FFF;
} */


/* nav .menu-btn,
.navbar .menu .cancel-btn {
    position: absolute;
    color: #fff;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

nav .menu-btn {
    color: orangered;
} */

/* nav.sticky .menu-btn {
    color: #FFF;
} */

/* .navbar .menu .menu-btn {
    color: #fff;
} */



.home {
    height: 100vh;
    width: 100%;
    margin-bottom: 40px;
    background: url("./assets/photo-1518655048521-f130df041f66.jpeg") no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    /* font-family: 'Ubuntu', sans-serif; */
    opacity: 0.8;
    background-color: lightgoldenrodyellow;
}
.home .home-content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .text-one {
    font-size: 25px;
    color: #0E2431;

}

.home .text-two {
    color: #0E2431;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .text-three {
    font-size: 40px;
    margin: 5px 0;
    color: blue;
}

.home .text-four {
    font-size: 23px;
    margin: 5px 0;
    color: #0E2431;
}

.home .button {
    margin: 14px 0;
}

.home .button button {
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background: orangered;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.home .button button:hover {
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
}
section {
    padding-top: 40px;
}

section .content {
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}





/* ****************************************************** About ******************************************* */

.about-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

 .about {
    background-color: antiquewhite;
    margin-bottom: 40px;
}

.about .left img {
    height: 270px;
    width: 280px;
    object-fit: cover;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}
.about-details .right {
    width: 70%;
    background-color: salmon;
    box-shadow: 2px 2px 5px;
    margin: 25px;
    padding: 24px;
    font-size: 18px;
}

.about-details .right p {
    text-align: justify;
    color: #0E2431;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}
section .title span::before,
section .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
/*************************************************  Skills   **********************************************************/

section .topic {
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    /* background-color: antiquewhite; */
}
section .button {
    margin: 16px 0;
}

section .button button {
    outline: none;
    padding: 6px 14px;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .button button:hover {
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
}


.skills {
    /* background: lightyellow; */
    background-color: antiquewhite;

}

.skills .content {
    padding: 40px 0;
}

.skills .skills-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-details .text {
    width: 100%;
}

.skills-details p {
    font-size: 22px;
    color: #0E2431;
    text-align: justify;
    background-color: darkkhaki;
    padding: 40px;
    line-height: 35px;
    margin-bottom: 30px;
}

.skills .skills-details .experience {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.skills-details .experience .num {
    color: #0E2431;
    font-size: 80px;
}

.skills-details .experience .exp {
    color: #0E2431;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}

.skills-details .boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: salmon;
}

.skills-details .box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}

.skills-details .boxes .topic {
    font-size: 22px;
    font-weight: 700;
}
.skills-details .boxes .per {
    font-size: 60px;
    color: white;
}

/* ///////////////////////////       services          /////////////////////////////////////////////////////////////////// */
.services {
    background-color: lightgrey;
    /* height: 100vh; */
    margin-bottom: 40px;

}

.services .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.services .boxes .box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    height: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    border-radius: 10px/30px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: salmon;
    transition: .2s ease;
}

.services .boxes .box:hover {
    background: #4070f4;
    color: #fff;
}

.services .boxes .box .icon {
    height: 50px;
    width: 50px;
    background: #4070f4;
    
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}

.boxes .box:hover .icon {
    background-color: #fff;
    color: #4070f4;
    
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: #0E2431;
    transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: #fff;
    
}
 .box p{
    color: black;
}

/* services//////////////////////////////////////////////////////////////////////////////// */

/* Contact ends ////////////////////////////////////////////////////////////////////////////////////// */
.contact{
    font-size: 25px;
    /* height: 130vh; */
    background-size: cover;
    /* background-color:mistyrose; */
    background-color: antiquewhite;  
}
.contact-box{
    margin: auto;
    width: 75%;
  
}
.contact-left{
    width: 100%;
    color: black;
    flex-basis: 40%;
    margin: auto;
    padding: 30px 40px;
    background-color:gray;
    /* background-color:mistyrose; */

    box-shadow: 2px 2px 2px black;
    border-radius: 25px;
}

.contact-right{
    color: black;
    flex-basis: 25%;
    padding: 30px;
    border-radius: 25px;

    

}
.input-row{ 
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
 }
label{
    display: inline-block;
    font-size: 20px;
    width: 80px;
}
input{
    width: 250px;
    height: 40px;
    border: none;
    padding-left: 10px;
    border-bottom: 2px solid salmon;
    outline: none;
    padding-bottom: 5px;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;

}
textarea{
    width: 100%;
    padding-left: 10px;
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;

}
.btn{
    width: 100%;
    height: 50px;
    box-shadow: 4px 4px 3px black;
    border-radius: 6px;
}
button:hover{
    background-color: #4070f4;
    cursor: pointer;
}
.contact-left h3{
    margin-bottom: 30px;
    font-weight: 600;
}
.contact-right h3{
    margin-bottom: 15px;
    font-weight: 600;
}
tr td{
    font-size: 20px;
    padding-top: 20px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td:nth-child(2){
    text-decoration: underline;    
}
/* Contact ends ////////////////////////////////////////////////////////////////////////////////////// */
.portfolio {
    background-color: #1e272d;
    padding: 10px 20px 50px 20px;
}
.portfolio h2 {
    font-size: 25px;
    color: salmon;
    display: flex;
    justify-content: center;
}
.portfolio ul {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
}
.portfolio ul a {
    text-decoration: none;
    padding: 10px 20px 20px 20px;
    color: white;
    transition: .3s ease;
}
.portfolio li a:hover {
    cursor: pointer;
    color: salmon;
}
.icons li a {
    display: flex;
    justify-content: center;
    color: salmon;
}
.icons li a:hover {
    color: white;
    transform: scale(1.05);
}
.portfolio p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #a0dc1e;
}
.portfolio span{
    font-size: 28x;
    color: salmon;
    display: flex;
    justify-content: center;
    text-align: center;
}
/* @media (max-width: 1190px) {
    section .content {
        width: 85%;
    }
}

@media (max-width: 1000px) {
    .about .about-details {
        justify-content: center;
        flex-direction: column;
    }

    .about .about-details .left {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-details .right {
        width: 90%;
        margin: 40px 0;
    }


    @media (max-width: 900px) {
        .about .left img {
            height: 350px;
            width: 350px;
        }
    }

    @media (max-width: 750px) {
        nav .navbar {
            width: 90%;
        }

        nav .navbar .menu {
            position: fixed;
            left: -100%;
            top: 0;
            background: #0E2431;
            height: 100vh;
            max-width: 400px;
            width: 100%;
            padding-top: 60px;
            flex-direction: column;
            align-items: center;
            transition: all 0.5s ease;
        }

        .navbar.active .menu {
            left: 0;
        }

        nav .navbar .menu a {
            font-size: 23px;
            display: block;
            color: #fff;
            margin: 10px 0;
        }

        nav.sticky .menu a:hover {
            color: #4070f4;
        }

        nav .navbar .media-icons {
            display: none;
        }

        nav .menu-btn,
        .navbar .menu .cancel-btn {
            display: block;
        }

        .home .text-two {
            font-size: 65px;
        }

        .home .text-three {
            font-size: 35px;
        }

        .skills .skills-details {
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .skills-details .text {
            width: 100%;
            margin-bottom: 50px;
        }

        .skills-details .boxes {
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .services .boxes .box {
            margin: 20px 0;
            width: 100%;
        }

        .contact .text {
            width: 100%;
        }
    } */
    @media (max-width: 1010px) {
        .input-row{
            display: flex;
            flex-direction: column;
            line-height: 30px;
        }    
        input{
            width: 100%;
        }
        textarea{
            width: 100%;
        }
        .btn{
            width: 100%;
            margin-top: 10px;
           
        }
}

#menu-bar{
    color: var(--puerto-rico);
    border: 0.1rem solid #fff;
    border-radius: 1.5rem;
    font-size: 2rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    display: none;
}


@media (max-width: 890px) {
    #menu-bar{
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        right: 0px;
        left: 0;
        background: rgb(37 68 95);
        border-top: 0.1rem solid rgba(225, 225, 225, 0.2);
        padding: 1rem 2rem;
        clip-path: polygon(0px 0px, 100% 0px, 100% 0px, 0px 0px);
    }
    header .navbar a{
        text-align: center;
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100% );
    }

    header .navbar a{
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: #222;
    }
    
}
    

@media (max-width: 700px) {
    tr td {
        font-size: 14px;
        padding-top: 20px;
    }
}


    @media (max-width: 660px) {
        .input-row{
            display: flex;
            flex-direction: column;
            line-height: 30px;
        }    
        input{
            width: 100%;
        }
        textarea{
            width: 100%;
        }
        .btn{
            width: 100%;
            margin-top: 10px;
        }
        
}

@media (max-width: 550px) and (min-width: 450px) {
    .contact-right {
        color: black;
        flex-basis: 25%;
        padding: 12px;
        border-radius: 25px;
        margin-left: -40px;
    }
    .home .text-two {
        color: #0E2431;
        font-size: 50px;
        font-weight: 600;
        margin-left: -3px;
    }
}

@media (max-width: 450px) and (min-width: 350px) {
    .contact-right {
        color: black;
        flex-basis: 25%;
        padding: 12px;
        border-radius: 25px;
        margin-left: -40px;
    }
    .portfolio ul a {
        text-decoration: none;
        padding: 10px 2px 14px 13px;
        color: white;
        transition: .3s ease;
    }
    tr td {
        font-size: 10px;
        padding-top: 14px;
    }
    .contact-right h3 {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 22px;
    }
    .home .text-two {
        color: #0E2431;
        font-size: 50px;
        font-weight: 600;
        margin-left: -3px;
    }
    .about-details .right {
        width: 70%;
        background-color: salmon;
        box-shadow: 2px 2px 5px;
        margin: 20px;
        padding: 10px;
    }
    section .button button {
        font-size: 15px;
    
    }
}
@media (max-width: 350){
    .contact-right {
        color: black;
        flex-basis: 25%;
        padding: 12px;
        border-radius: 25px;
        margin-left: -40px;
    }
    .portfolio ul a {
        text-decoration: none;
        padding: 10px 2px 14px 13px;
        color: white;
        transition: .3s ease;
    }
    tr td {
        font-size: 10px;
        padding-top: 14px;
    }
    .contact-right h3 {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 22px;
    }
    .home .text-two {
        color: #0E2431;
        font-size: 50px;
        font-weight: 600;
        margin-left: -3px;
    }
    .about-details .right {
        width: 70%;
        background-color: salmon;
        box-shadow: 2px 2px 5px;
        margin: 20px;
        padding: 10px;
    }
    section .button button {
        font-size: 15px;
}
}
